:root {
    --transition-speed: 600ms;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #000000;
    --bg-secondary: #141418;
}

::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #333333;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #CCFF00;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}